body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', serif;
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    min-height: 100%;
}


body::-webkit-scrollbar-track {
    background-color: #d3dfe3;
  }
  
body::-webkit-scrollbar {
    width: 10px;
  }
  
body::-webkit-scrollbar-thumb{
    background-color: #6e7a8c;
  }

a {
  text-decoration: none;
  color: black;
}

.white {
    fill: white;    
}

.blue {
    fill: #0047bb;
}

.w100 {
    width: 100%;
}

.dflex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.a-center {
    align-items: center;
}

.j-center {
    justify-content: center;
}

.flex-column {
  flex-direction: column;
}

/* .main {
    background: url(../img/bg.jpg) no-repeat center / cover;
    display: flex;
    align-items: flex-end;
    height: 100vh;
    background-attachment:fixed;    
} */

#details {
    background: url(../img/bg-box.jpg) no-repeat center / cover;
    display: flex;
    align-items: flex-end;
    height: 100vh;
    background-attachment:fixed; 
}


#main {
    position: relative;
    /* background: linear-gradient(45deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%); */
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, rgba(0,136,196,1) 0%, rgba(75,2,191,1) 100%);
}

.main-title-details {    
    z-index: 1;
    margin: 10% 5%;
    background: rgba(255, 255, 255, 0.6);
    padding: 50px;
    border-radius: 20px;
}

.title-details {
    font-family: 'Oswald', sans-serif;
    color: #0047bb;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.sub-title-details {
    line-height: 1.2;
}


.main-title-second {    
    position: absolute;
    z-index: 1;
    margin-top: 100px;
    text-align: center;
}

.main-title-second > div{    
    color: #fff;
    font-size: 30px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-top: 20px;
    line-height: 0.9;
}

.erra-white-logo {
    width: 30%;
}

#main .main-detail {
    height: 50%;
    animation: h 3.5s alternate both infinite;
}


.description {
  width: 960px;
  flex-direction: row;
  margin-top: 20px;
}

.description-column {
  margin: 0px 20px;
}

.description-row {
  padding: 10px 0px;
  font-weight: 100;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}



/* =====
* Basic styling
* ===== */


.hide { 
  display: none; 
}


.accordion {
list-style: none;
padding: 0;
}
.accordion li {
margin-bottom: 1em;
}
.toggle {
width: 100%;
display: block;
height: 2.5em;
line-height: 2.5em;

background: #333;
border-radius: 3px;
color: #fff;
cursor: pointer;
text-align: center;

transition: background .3s ease;
}
.toggle:hover { background: #222 }
.inner {
text-align: left;
padding: 0 1em;
overflow: hidden;
max-height: 0;

transition: max-height .6s ease;
}
.inner *:first-child { margin-top: 1em }
.inner *:last-child { margin-bottom: 1em }
.inner img { display: block; margin: 0 auto }

/* =====
* Functionality
* ===== */
.accordion input[type="checkbox"]:checked + li > .inner {
max-height: 350px; /* CSS can't animate to height:auto; :( */ 
/* set max-height to a higher value if you want large accordions */
/* alternatively we could just do fixed-height, but dat's ugly yo */
}

.content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
  }

@keyframes h {
    0% {
        transform: translateY(-20px);
    }
    100% { 
        transform: translateY(20px);
    }
}

#main .parallax-content {
position: absolute;
    width: 100%;
    bottom: 0;
}

.inner-header {
    height:65vh;
    width:100%;
    margin: 0;
    padding: 0;
  }
  
  .flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }
  
  .content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
  }
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
    h1 {
      font-size:24px;
    }
  }



  .local-video-container {
    position: relative;
}

.background-image-holder.fadeIn {
    opacity: 1;
}

.local-video-container .background-image-holder {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    top: 0;
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.26);
}
.background-image-holder {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: #222;
    background-size: cover !important;
    background-position: 50% 50% !important;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: 0;
}

.gallery-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 960px;
  margin: 40px 0;
}

























.video {
    width: 100%;
    margin-top: 40px;
}

.play-button {
    width: 80px;
    height: 80px;
    background: #fff;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
    z-index: 4;
    border-radius: 50%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    cursor: pointer;
}

.play-button:before {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: 50%;
    margin-left: -8px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #222222;
  }
  .play-button:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
  @media all and (max-width: 767px) {
    .play-button {
      width: 65px;
      height: 65px;
      margin-top: -32px;
    }
    .play-button:before {
      position: absolute;
      top: 50%;
      margin-top: -9px;
      margin-left: -8px;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 0 10px 20.0px;
      border-color: transparent transparent transparent #222222;
    }
  }
  .play-button.video-playing {
    transform: scale(0.5) translateY(300px);
    -webkit-transform: scale(0.5) translateY(300px);
    opacity: 0.7;
    display: none;
  }
  .play-button.video-playing:before,
  .play-button.large.video-playing:before {
    border: none;
    width: 6px;
    height: 30px;
    background: #222;
    margin-top: -15px;
    margin-left: -10px;
  }
  .play-button.video-playing:after {
    content: '';
    width: 6px;
    height: 30px;
    position: absolute;
    background: #222;
    top: 50%;
    margin-top: -15px;
    margin-left: 2px;
  }
  .play-button.video-playing:hover {
    opacity: 1;
  }
  .play-button.large {
    height: 120px;
    width: 120px;
    margin-top: -60px;
    margin-left: -60px;
  }
  .play-button.large:before {
    margin-top: -18px;
    margin-left: -10px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 31.0px;
    border-color: transparent transparent transparent #222222;
  }
  @media all and (max-width: 767px) {
    .play-button.large {
      width: 90px;
      height: 90px;
      margin-top: -45px;
    }
    .play-button.large:before {
      margin-top: -14px;
      margin-left: -8px;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 15px 0 15px 25.0px;
      border-color: transparent transparent transparent #222222;
    }
  }


  .tab {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: 'Oswald', sans-serif;
    line-height: 1;
  }
  
  /* Style the buttons inside the tab */
  .tablinks {
    cursor: pointer;
    padding: 20px;
    transition: 0.3s;
    font-size: 30px;
    display: flex;
    align-items: center;
    width: 260px;
    margin: 5px;
  }
  
  /* Change background color of buttons on hover */
  .tablinks:hover {
    background-color: #ddd;
    border-radius: 15px;
  }
  
  /* Create an active/current tablink class */
  .tablinks.active {
    background-color: #0047bb;
    border-radius: 15px;
    color: white;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 40px 0px;
  }






.main-title {
    color: white;
    font-size: 70px;
    line-height: 1.1;
    text-align: left;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-family: 'Oswald', sans-serif;
}

.main-sub-title {
    color: white;
    font-size: 28px;
    text-align: left;
    font-weight: 100;
}

.head-title {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 100;
    color: #0047bb;    
}

.head-sub-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 100;
}

.mouse-wrapper {
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.mouse-icon {
    height: 35px;
    width: 22px;
    border-radius: 12px;
    border: 2px solid #fff;
    position: relative;
}

.mouse-icon:after {
    content: '';
    height: 5px;
    width: 3px;
    display: block;
    margin: 5px auto;
    border: 2px solid #fff;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-animation: mouse-wheel 1.0s linear infinite;
    -moz-animation: mouse-wheel 1.0s linear infinite;
}

@-webkit-keyframes mouse-wheel {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}

@-webkit-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1.2;
    }
    100% {
        opacity: 1;
    }
}



.container {
    width: 1200px;
    padding: 0 30px;
}






@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }
    * {
      box-sizing: border-box;
    }
    figure { 
      margin: 0;
      font-weight: 100;
    }
    div#captioned-gallery { 
      width: 65%;
    overflow: hidden;
    border-radius: 20px;
    }
    figure.slider { 
      position: relative; width: 500%;
      font-size: 0; animation: 30s slidy infinite; 
    }
    figure.slider figure { 
      width: 20%; height: auto;
      display: inline-block;  position: inherit; 
    }
    figure.slider img { width: 100%; height: 400px; }
    figure.slider figure figcaption { 
      position: absolute; bottom: 0;
      background: linear-gradient(0deg, rgba(0,0,0,0.6558998599439776) 0%, rgba(0,0,0,0) 100%);
      color: #fff; width: 100%;
      font-size: 1rem; padding: .6rem; 
    }
    


footer i {
    color: black;   
    cursor: pointer; 
}

footer i:hover {
    color: white;    
}








.block-adv {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;

}

.block-adv img {
    width: 50%;    
    border-radius: 10px;
    overflow: hidden;
}

.block-adv-text {
    margin-left: 50px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 10px;
    color: #0047bb;
}

.block-adv-sub-text {
    margin-left: 50px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 100;

}

section {
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 5%;
    background: #fff;
    flex-direction: column;
}
  
.adv-list-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: 1s;
    animation-delay: 1s;
    width: 1200px;
}

.product {    
  margin: 3px;
  background-color: #fff;  
  border-radius: 5px;
  cursor: pointer;
  transition: .5s ease;
  box-shadow: 0 0 10px 1px rgba(110, 124, 138, 0.1);
  flex-direction: column;
  display: flex;
  align-items: center;
}

  .product:hover {
    transition: .5s ease;
    box-shadow: 0 10px 45px 0 rgba(0, 26, 49, 0.4);
  }

.product-image {
  height: 200px;
  width: 200px;
  padding: 20px;  
  display: flex;
  align-items: center;
  justify-content: center;
}
  
  .product-image img {
    max-height: 100%;
    width: auto;
    overflow: hidden;
    border-radius: 5px;
    max-width: 100%; 
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.product-name {
  width: 100%;
  background: #d3dfe3;
  padding: 10px;
  border-radius: 5px;
}
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .product:hover .image {
    opacity: 0.3;
  }
  
  .product:hover .middle {
    opacity: 1;
    background: #0047bb;
  }
  
  .text {
    background-color: #0047bb;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

.adv {
    margin: 25px;
    width: 230px;
    height: 100px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.adv-text {
    font-size: 18px; 
    padding: 10px 0;
}

.adv-icon {
    width: 70px;
    height: 70px;
    margin: 0;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adv-icon img {
    height: 40px;
    width: auto;
}
.header {
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.icon {
    height: 40px;
}

.nav {
    transition: all 0.3s;
}


.navShadow {
    transition: all 0.3s;
    background: white;
    color:black;
    z-index: 2;
}

.phone-white {
    color: white;
    text-align: end;
    font-weight: 700; 
    font-size: 24px;
    display: block;
}

.phone-black {
    color: black;
}

.header-bg {
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.header-bg-color {
    background-color: white;
}

.order {
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 30px;
    cursor: pointer;
    border: 3px solid white;
    font-size: 18px;

}

.order:hover {
    background: #0047bb;
    color: #fff;
    border: 3px solid #0047bb;

}

.more {
    color: #fff;
    padding: 10px 30px;
    border: 3px solid white;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 100;
    cursor: pointer;
    width: max-content;
    margin-top: 50px;
}

.more:hover {
    color: black;
    background: #fff;
}


.order-color {
    background: #0047bb;
    color: #fff;
}

.order-color:hover {
    background: #9ca6b7;
    color: white;
    border: 3px solid #9ca6b7;

}

.background_1 {
    background: url(../img/bg-1.jpg) no-repeat center / cover;
    height: 500px;
    width: 50%;
    background-attachment: fixed;
}

.background_2 {
    background: url(../img/bg-22.jpg) no-repeat center / cover;
    height: 400px;
    background-attachment: fixed;
}

.background_3 {
    background: url(../img/bg.jpg) no-repeat center / cover;
    height: 400px;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}










.overlay {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: 0.15s ease-in-out;
  max-height: 100vh;
  overflow-y: auto;
  z-index: 9;
}
.overlay.open {
  opacity: 1;
  pointer-events: inherit;
}
.overlay .modal {
  background: white;
  text-align: center;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: 0.15s ease-in-out;
  min-width: 500px;
  width: unset;
}
.overlay .modal.open {
  opacity: 1;
  pointer-events: inherit;
}

.head-product {
  padding: 0 20px;
}

.content-modal {
  display: flex;
  flex-direction: row;
}

.overlay .modal.open .content-modal {
  transform: translate(0, 0px);
  opacity: 1;
  height: auto;  
}
.overlay .modal .content-modal {
  transform: translate(0, -10px);
  opacity: 0;
  transition: 0.15s ease-in-out;
}
.overlay .modal .title {
  margin-top: 0;
}

.open-modal {
  /* width: unset; */
}

.modal-title {
  padding: 15px;
  width: 100%;
  font-size: 18px;
  border-bottom: 1px solid #00b486;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-inner {
  padding: 25px;
  overflow-y: auto;
}

.content-modal img {
  height: 200px;
  margin-top: 20px;
}

.close-modal {
  position: absolute;
  right: 20px;
  top: -35px;
  z-index: 99;
}

.add-cart {
  border-radius: 50px;
  padding: 10px 20px;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #6e7a8c;
  margin-top: 20px;
  font-weight: 100;
  font-size: 14px;
  cursor: pointer;
}

.add-cart:hover {
  color: #fff;
  background: #0047bb;
  border: 1px solid #0047bb;
}

footer {
  background: #6e7a8c;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 1024px)
{
    .main-title {
      font-size: 40px;
    }

    .main-sub-title {
      font-size: 16px;
    }

    .mouse-wrapper {
      display: none;
    }

    .phone-white {
      display: none;
    }

    .main {  
      background-attachment: scroll;
    }

    .background_1 {
      background-attachment: scroll;
    }

    .background_2 {
      background-attachment: scroll;
    }

    .background_3 {
      background-attachment: scroll;
    }

    #details {
      background-attachment: scroll;
    }

    .main-title-details {   
      padding: 20px;
    }

    .order {
    margin: 0 5px 0px 0px;
    padding: 5px 15px;
    border: 2px solid white;
    font-size: 14px;
    }

    .icon {
    height: 30px;
    }

    .adv {
    display: flex;
    align-items: center;
    margin: 0px 0 15px;
    width: 100%;
    }

    

    .adv-icon {
    margin: 15px;
    }

   

    .block-adv {
    display: flex;
    flex-direction: column;
    }

    .block-adv img {
        width: 100%;
        overflow: hidden;
        border-radius: 10px;
    }

    .block-adv-text {
    font-size: 20px;
    margin: 10px 0 0 0;
    }

    .container {
        width: 100%;
        padding: 0px;
    }

    .erra-white-logo {
        width: 70%;
    }

    .head-title {
        font-size: 20px;
    }

    .product {
        width: 100%;
    }

    .description {
      width: 100%;
      flex-direction: column;
    }

    .description-column {
      margin: 0px 0px;
    }

    .gallery-content {
      width: 100%;
    }



 .overlay .modal {
    width: 95%;
    min-width: unset;
    margin-left: unset;
  }

  .input {
    width: 95%;
  }

  .inputs {
    width: 95%;
  }
  
  select {
    min-width: 95%;
  }

  .text-area {
    max-width: 95%;
  }

  .open-modal {
    /* width: 100%; */
  }

  .modal-inner {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .overlay .modal.open .content-modal {
    max-height: 85vh;
    flex-direction: column;
  }

  .tab {
    flex-direction: column;
  }

  .adv-list-items {
    width: auto;
}



    

    div#captioned-gallery { 
        width: 100%;
      }

      figure.slider img { height: 195px; }

  @media (max-width: 768px) 

 
{
  
@media (max-width: 426px) 
{